
<div>
    <div>
        <label> <b> id: </b></label> {{mR.id}}
    </div>
    <div>
        <label> <b>companyName: </b></label> {{mR.companyName}}
    </div>
    <div>
        <label> <b> medicine_name: </b></label> {{mR.medicine_name}}
    </div>
    <div>
        <label> <b> dosage: </b></label> {{mR.dosage}}
    </div>
    <div>
        <label> <b> expiryDate: </b></label> {{mR.expiryDate}}
    </div>
    <div>
        <label> <b> price: </b></label> {{mR.price}}
    </div>
    <div>
        <label> <b> stock: </b></label> {{mR.stock}}
    </div>
    <div>
        <label> <b> uses: </b></label> {{mR.uses}}
    </div>
</div>



