
  <nav class="navbar navbar-expand-sm bg-primary navbar-dark" id="nav_items">
  <ul class="navbar-nav">
    <div class="top-left-btn">
      <li class="nav-item">
        <a routerLink="userlist" routerLinkActive="active" class="nav-link">Profile</a>
      </li>
      <li class="nav-item">
        <a routerLink="purchaselist" routerLinkActive="active" class="nav-link">Cart</a>
      </li>
    </div>



    <div class="centered-text" style="text-align: center;">
      <li class="nav-item">
        <a routerLink="medicinelist" routerLinkActive="active" class="nav-link"></a>
      </li>
      <li class="nav-item">
        <a routerLink="addpurchase" routerLinkActive="active" class="nav-link">Order Now</a>
      </li>
    </div>
  </ul>

<div class="top-right-btn">
  <li class="nav-item">
    <a routerLink="" routerLinkActive="active" class="nav-link">Log Out</a>
  </li>
</div>
</nav>

<div class = "row">
  
</div>

<table class = "table table-striped table-bordered">
  <thead >
      <tr>
          <th> id</th>
          <th> companyName </th>
          <th> medicine_name </th>
          <th> dosage </th>
          <th> expiryDate </th>
          <th> price </th>
          <th> stock </th>
          <th> uses </th>
          <th>Actions</th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let mR of mRS" >
        <td> {{ mR.id }} </td>
        <td> {{ mR.companyName}} </td>
        <td> {{ mR.medicine_name}} </td>
        <td> {{ mR.dosage}} </td>
        <td> {{ mR.expiryDate}} </td>
        <td> {{ mR.price}} </td>
        <td> {{ mR.stock}} </td>
        <td> {{ mR.uses}} </td>
        <td>
            <button (click) = "details(mR.id)" class = "btn btn-primary" style="margin-left: 10px"> View</button>
        </td>
    </tr>
</tbody>
</table>

