<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
         
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label> userId</label>
                        <input type="text" class="form-control" id="userId" [(ngModel)]="uL.userId"
                            name="userId">
                    </div>
                    

                    <div class="form-group">
                        <label> quantity</label>
                        <input type="number" class="form-control" id="number" [(ngModel)]="uL.quantity"
                            name="quantity">
                    </div>


                    <div class="form-group">
                        <label>deliveryaddress</label>
                        <input type="text" class="form-control" id="deliveryaddress" [(ngModel)]="uL.deliveryaddress"
                            name="deliveryaddress">
                    </div>

                    <div class="form-group">
                        <label> contactNo</label>
                        <input type="number" class="form-control" id="contactNo" [(ngModel)]="uL.contactNo"
                            name="expiryDate">
                    </div>

                    <div class="form-group">
                        <label>companyName</label>
                        <input type="text" class="form-control" id="companyName" [(ngModel)]="uL.companyName"
                            name="companyName">
                    </div>


                    <br />
                    <button class="btn btn-success" type="submit">Proceed To Pay-{{amount}}</button>

                </form>
            </div>
        </div>
    </div>
</div>
