<div class = "row">
 
</div>

<table class = "table table-striped table-bordered">
    <thead>
        <tr>
            <th> userId</th>
            <th> name</th>
            <th> address </th>
            <th> contactNo</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let uL of uLS" >
            <td> {{ uL.userId }} </td>
            <td> {{ uL.name}} </td>
            <td> {{ uL.address}} </td>
            <td> {{ uL.contactNo}} </td>
            <td>
                <button (click) = "details(uL.userId)" class = "btn btn-primary" style="margin-left: 10px"> View</button>
            </td>
        </tr>
    </tbody>
</table>



