
    <html id="main">
  <body id="sub">


<!-- <nav class="navbar navbar-expand-sm bg-primary navbar-dark" id="nav_items">
  <ul class = "navbar-nav">

    <li class = "nav-item">
      <a routerLink="userlist" routerLinkActive="active" class="nav-link" ></a>
  </li> -->
  <!-- <li class = "nav-item">
      <a routerLink="adduser" routerLinkActive="active" class="nav-link" >Register</a>
  </li> -->

  <!-- <li class = "nav-item">
    <a routerLink="loginlist" routerLinkActive="active" class="nav-link" ></a>
</li> -->
<!-- <li class = "nav-item">
    <a routerLink="add" routerLinkActive="active" class="nav-link" >Login</a>
</li> -->

<!-- <li class = "nav-item">
  <a routerLink="medicinelist" routerLinkActive="active" class="nav-link" >Medicine List</a>
</li>
<li class = "nav-item">
  <a routerLink="addrecord" routerLinkActive="active" class="nav-link" >Add Record</a>
</li>

<li class = "nav-item">
  <a routerLink="purchaselist" routerLinkActive="active" class="nav-link" >Purchase List</a>
</li>
<li class = "nav-item">
  <a routerLink="addpurchase" routerLinkActive="active" class="nav-link" >Purchase</a>
</li>

<li class = "nav-item">
  <a routerLink="deliverylist" routerLinkActive="active" class="nav-link" >Delivery List</a>
</li>
<li class = "nav-item">
  <a routerLink="adddelivery" routerLinkActive="active" class="nav-link" >Add Delivery</a>
</li>
      
  </ul>
</nav> -->
<!-- 
<!-- <div class = "container"> -->

<router-outlet></router-outlet>