<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
           
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label> id</label>
                        <input type="number" class="form-control" id="id" [(ngModel)]="mR.id"
                            name="id">
                    </div>

                    <div class="form-group">
                        <label> companyName</label>
                        <input type="text" class="form-control" id="companyName" [(ngModel)]="mR.companyName"
                            name="companyName">
                    </div>
                    

                    <div class="form-group">
                        <label> medicine_name</label>
                        <input type="text" class="form-control" id="medicine_name" [(ngModel)]="mR.medicine_name"
                            name="medicine_name">
                    </div>

                    <div class="form-group">
                        <label>dosage</label>
                        <input type="text" class="form-control" id="dosage" [(ngModel)]="mR.dosage"
                            name="dosage">
                    </div>

                    <div class="form-group">
                        <label> expiryDate</label>
                        <input type="date" class="form-control" id="expiryDate" [(ngModel)]="mR.expiryDate"
                            name="expiryDate">
                    </div>

                    <div class="form-group">
                        <label> price</label>
                        <input type="number" class="form-control" id="price" [(ngModel)]="mR.price"
                            name="price">
                    </div>

                    <div class="form-group">
                        <label> stock</label>
                        <input type="number" class="form-control" id="stock" [(ngModel)]="mR.stock"
                            name="stock">
                    </div>

                    <div class="form-group">
                        <label> uses</label>
                        <input type="text" class="form-control" id="uses" [(ngModel)]="mR.uses"
                            name="uses">
                    </div>

                    <br />
                    <button class="btn btn-success" type="submit">Submit</button>

                </form>
            </div>
        </div>
    </div>
</div>
