<div class = "row">
    
</div>

<table class = "table table-striped table-bordered">
    <thead>
        <tr>
            <th> orderNo</th>
            <th> userId </th>
            <th> quantity </th>
            <th> totalCost </th>
            <th> deliveryaddress </th>
            <th> contactNo </th>
            <th> companyName</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let uL of uLS" >
            <td> {{ uL.orderNo }} </td>
            <td> {{ uL.userId}} </td>
            <td> {{ uL.quantity}} </td>
            <td> {{ uL.totalCost}} </td>
            <td> {{ uL.deliveryaddress}} </td>
            <td> {{ uL.contactNo}} </td>
            <td> {{ uL.companyName}} </td>
            <td>
                <button (click) = "update(uL.orderNo)" class = "btn btn-primary"> Update</button>
                <button (click) = "delete(uL.orderNo)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                <button (click) = "details(uL.orderNo)" class = "btn btn-primary" style="margin-left: 10px"> View</button>
            </td>
        </tr>
    </tbody>
</table>


