
<div>
    <div>
        <label> <b> orderNo: </b></label> {{uL.orderNo}}
    </div>
    <div>
        <label> <b>userId: </b></label> {{uL.userId}}
    </div>
    <div>
        <label> <b> quantity: </b></label> {{uL.quantity}}
    </div>
    <div>
        <label> <b> totalCost: </b></label> {{uL.totalCost}}
    </div>
    <div>
        <label> <b> deliveryaddress: </b></label> {{uL.deliveryaddress}}
    </div>
    <div>
        <label> <b> contactNo: </b></label> {{uL.contactNo}}
    </div>
    <div>
        <label> <b> companyName: </b></label> {{uL.companyName}}
    </div>
</div>


